In [ ]:
# install pacakges

In [1]:
!pip install pandas
!pip install seaborn 
!pip install sklearn

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.2.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: seaborn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.1.3)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.2.3)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.20.2)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.6.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2021.1)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in /srv/conda/envs/notebook/lib/python3.7/site-packages (from sklearn) (0.21.3)
Requirement already satisfied: scipy>=0.17.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: numpy>=1.11.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.20.2)
Requirement already satisfied: joblib>=0.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.0.1)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=558a3ea0e65bcec4be6b43e6363866abd3f2edc8b00b7b85f5406a8cb50e9212
  Stored in directory: /home/jovyan/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
from sklearn import svm

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):

In [5]:
df = pd.read_csv('sample2.csv')

In [6]:
df.shape

(27, 12)

In [7]:
df.groupby(['gender']).mean()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
gender,,,,,,,,,
1.0,596.375,398.235294,40.735111,-73.985803,381.764706,40.732467,-73.989345,18238.529412,1980.466667
2.0,352.125,387.625000,40.736892,-73.991553,408.375000,40.733580,-73.992415,18125.750000,1977.571429

In [8]:
df['gender'].unique()

array([ 1.,  2., nan])

In [9]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station latitude', 'start station longitude', 'end station id',
       'end station latitude', 'end station longitude', 'bikeid', 'birth year',
       'gender'],
      dtype='object')

In [10]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,25.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,24.000000,25.000000
mean,503.280000,394.814815,40.735627,-73.988297,390.074074,40.732494,-73.990631,18210.111111,1980.041667,1.320000
std,296.838694,108.353069,0.015487,0.011824,99.735391,0.016448,0.009265,2047.982428,11.752813,0.476095
min,189.000000,152.000000,40.693631,-74.009106,174.000000,40.688070,-74.009260,14827.000000,1951.000000,1.000000
25%,297.000000,308.000000,40.727470,-73.994828,328.500000,40.726281,-73.997718,16628.000000,1976.250000,1.000000
50%,382.000000,388.000000,40.735354,-73.990026,415.000000,40.733143,-73.991255,18003.000000,1982.000000,1.000000
75%,591.000000,495.500000,40.747804,-73.981755,473.500000,40.739071,-73.983509,19943.000000,1990.000000,2.000000
max,1491.000000,540.000000,40.762272,-73.962236,528.000000,40.765265,-73.975739,21122.000000,1992.000000,2.000000

In [11]:
df.isnull().sum()

tripduration               2
starttime                  0
stoptime                   0
start station id           0
start station latitude     0
start station longitude    0
end station id             0
end station latitude       0
end station longitude      0
bikeid                     0
birth year                 3
gender                     2
dtype: int64

In [ ]:
# delete that the row with any missing value

In [12]:
# df_no_na = df.dropna() # delete the rows with missing values

In [ ]:
# df_no_na.shape

In [ ]:
# df.shape

In [ ]:
# df_no_na_col = df.dropna(axis=1) # delete the columns with missing values

In [ ]:
# df_no_na_col.shape

In [ ]:
# df_no_na_col

In [ ]:
# impute the missing value by the average / mean of that column

In [13]:
trip_col = df['tripduration']

In [14]:
trip_mean = trip_col.mean()

In [15]:
trip_mean

503.28

In [16]:
trip_col

0      382.0
1      372.0
2      591.0
3      583.0
4      223.0
5        NaN
6      354.0
7      916.0
8      277.0
9      439.0
10     959.0
11     359.0
12       NaN
13     477.0
14     707.0
15     343.0
16     813.0
17    1491.0
18     292.0
19     259.0
20     231.0
21     458.0
22     297.0
23     497.0
24     378.0
25     695.0
26     189.0
Name: tripduration, dtype: float64

In [17]:
trip_col.fillna(trip_mean, inplace = True)

In [ ]:
# df['tripduration'].fillna(trip_mean, inplace = True)

In [18]:
df['gender'].fillna(1,inplace = True)

In [19]:
df

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
0,382.00,2/1/14 0:00,2/1/14 0:06,294,40.730494,-73.995721,265,40.722293,-73.991475,21101,1991.0,1.0
1,372.00,2/1/14 0:00,2/1/14 0:06,285,40.734546,-73.990741,439,40.726281,-73.989780,15456,1979.0,2.0
2,591.00,2/1/14 0:00,2/1/14 0:10,247,40.735354,-74.004831,251,40.723180,-73.994800,16281,NaN,2.0
3,583.00,2/1/14 0:00,2/1/14 0:10,357,40.732618,-73.991580,284,40.739017,-74.002638,17400,1981.0,1.0
4,223.00,2/1/14 0:00,2/1/14 0:04,401,40.720196,-73.989978,439,40.726281,-73.989780,19341,1990.0,1.0
5,503.28,2/1/14 0:00,2/1/14 0:09,152,40.714740,-74.009106,331,40.711731,-73.991930,18674,1990.0,1.0
6,354.00,2/1/14 0:01,2/1/14 0:06,325,40.736245,-73.984738,439,40.726281,-73.989780,16975,1991.0,1.0
7,916.00,2/1/14 0:01,2/1/14 0:16,354,40.693631,-73.962236,395,40.688070,-73.984106,16020,1978.0,1.0
8,277.00,2/1/14 0:01,2/1/14 0:06,375,40.726795,-73.996951,369,40.732241,-74.000264,18891,NaN,1.0
9,439.00,2/1/14 0:02,2/1/14 0:09,285,40.734546,-73.990741,247,40.735354,-74.004831,20875,1983.0,2.0
10,959.00,2/1/14 0:02,2/1/14 0:18,518,40.747804,-73.973442,439,40.726281,-73.989780,15263,1969.0,1.0
11,359.00,2/1/14 0:02,2/1/14 0:08,501,40.744219,-73.971212,487,40.733143,-73.975739,19377,1986.0,1.0
12,503.28,2/1/14 0:02,2/1/14 0:19,388,40.749718,-74.002950,336,40.730477,-73.999061,17271,1981.0,1.0
13,477.00,2/1/14 0:02,2/1/14 0:10,518,40.747804,-73.973442,528,40.742909,-73.977061,19366,1990.0,1.0
14,707.00,2/1/14 0:02,2/1/14 0:14,257,40.719392,-74.002472,345,40.736494,-73.997044,17757,1962.0,1.0
15,343.00,2/1/14 0:03,2/1/14 0:08,477,40.756405,-73.990026,493,40.756800,-73.982912,19734,1965.0,1.0
16,813.00,2/1/14 0:03,2/1/14 0:16,317,40.724537,-73.981854,223,40.737815,-73.999947,18003,NaN,1.0
17,1491.00,2/1/14 0:03,2/1/14 0:28,527,40.743156,-73.974347,412,40.715815,-73.994224,17630,1986.0,1.0
18,292.00,2/1/14 0:04,2/1/14 0:08,504,40.732219,-73.981656,487,40.733143,-73.975739,16115,1989.0,2.0
19,259.00,2/1/14 0:05,2/1/14 0:09,316,40.709560,-74.006536,415,40.704718,-74.009260,20152,1980.0,2.0
20,231.00,2/1/14 0:05,2/1/14 0:09,490,40.751551,-73.993934,512,40.750073,-73.998393,17141,1990.0,1.0
21,458.00,2/1/14 0:05,2/1/14 0:13,518,40.747804,-73.973442,326,40.729538,-73.984267,20774,1957.0,1.0
22,297.00,2/1/14 0:05,2/1/14 0:10,450,40.762272,-73.987882,479,40.760193,-73.991255,21025,1951.0,2.0
23,497.00,2/1/14 0:06,2/1/14 0:14,300,40.728145,-73.990214,174,40.738177,-73.977387,14827,1992.0,1.0
24,378.00,2/1/14 0:06,2/1/14 0:12,474,40.745168,-73.986831,442,40.746647,-73.993915,20157,1971.0,2.0
25,695.00,2/1/14 0:06,2/1/14 0:18,490,40.751551,-73.993934,468,40.765265,-73.981923,21122,1979.0,1.0
26,189.00,2/1/14 0:07,2/1/14 0:10,540,40.741473,-73.983209,507,40.739126,-73.979738,14945,1990.0,2.0

In [20]:
df.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station latitude     0
start station longitude    0
end station id             0
end station latitude       0
end station longitude      0
bikeid                     0
birth year                 3
gender                     0
dtype: int64

In [28]:
df = df.drop(['starttime', 'stoptime', 'birth year'], axis =1)

In [29]:
df.shape

(27, 9)

In [30]:
df['gender'].value_counts(normalize=True, sort=False)*100

2.0    29.62963
1.0    70.37037
Name: gender, dtype: float64

In [34]:
for i in range(1,10):
    df = df.append(df)

In [37]:
df.shape

(55296, 9)

In [36]:
import matplotlib.pyplot as plt

2.0    29.62963
1.0    70.37037
Name: gender, dtype: float64

In [ ]:
df.shape

In [ ]:
y = df['gender']

In [ ]:
df_x = df

NameError: name 'df_x' is not defined

In [24]:
df.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station latitude     0
start station longitude    0
end station id             0
end station latitude       0
end station longitude      0
bikeid                     0
birth year                 3
gender                     0
dtype: int64

In [ ]:
# classifciation problem (gender: 1 or 2): clf

In [ ]:
clf = svm.SVC()

In [ ]:
clf.fit(x,y)  # learn the classification model based on the data

In [ ]:
clf.predict([[-382.0, 294, -40.73049, 73.72, -265, 40.722293, -713.991475, 21101]])

In [ ]:
df.groupby(['gender']).mean()